
.blink{
 -webkit-animation: blinker 0.6s infinite;
 animation: blinker 0.6s infinite;
 color: blue;
 font-size: 30px;
}

-webkit-@keyframes blinker {  
 50% { opacity: 0; }
}
@keyframes blinker {  
 50% { opacity: 0; }
}
